:root {
  --aside-margin: 4rem;
}

:root {
  --screen-height: 0;
}

@font-face {
  font-family: "body-font";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("lato-regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "italic-font";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local("lato-italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "title-font";
  font-style: bold;
  font-weight: 700;
  font-display: fallback;
  src: local("lato-bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.ttf");
}

:root {
  --body-font: "body-font", sans serif;
  --italic-font: "italic-font", sans serif;
  --title-font: "title-font", sans serif;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.wrapper {
  --margin: 1rem;
  margin: 0 var(--margin);
  width: calc(100% - calc(var(--margin) * 2));
  max-width: 75rem;
}

@media screen and (min-width: 64rem) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 20rem) {
  .s-5 {
    width: 5%;
  }
  .s-10 {
    width: 10%;
  }
  .s-15 {
    width: 15%;
  }
  .s-20 {
    width: 20%;
  }
  .s-25 {
    width: 25%;
  }
  .s-30 {
    width: 30%;
  }
  .s-35 {
    width: 35%;
  }
  .s-40 {
    width: 40%;
  }
  .s-45 {
    width: 45%;
  }
  .s-50 {
    width: 50%;
  }
  .s-55 {
    width: 55%;
  }
  .s-60 {
    width: 60%;
  }
  .s-65 {
    width: 65%;
  }
  .s-70 {
    width: 70%;
  }
  .s-75 {
    width: 75%;
  }
  .s-80 {
    width: 80%;
  }
  .s-85 {
    width: 85%;
  }
  .s-90 {
    width: 90%;
  }
  .s-95 {
    width: 95%;
  }
  .s-100 {
    width: 100%;
  }
}

@media screen and (min-width: 31.25rem) {
  .lo-5 {
    width: 5%;
  }
  .lo-10 {
    width: 10%;
  }
  .lo-15 {
    width: 15%;
  }
  .lo-20 {
    width: 20%;
  }
  .lo-25 {
    width: 25%;
  }
  .lo-30 {
    width: 30%;
  }
  .lo-35 {
    width: 35%;
  }
  .lo-40 {
    width: 40%;
  }
  .lo-45 {
    width: 45%;
  }
  .lo-50 {
    width: 50%;
  }
  .lo-55 {
    width: 55%;
  }
  .lo-60 {
    width: 60%;
  }
  .lo-65 {
    width: 65%;
  }
  .lo-70 {
    width: 70%;
  }
  .lo-75 {
    width: 75%;
  }
  .lo-80 {
    width: 80%;
  }
  .lo-85 {
    width: 85%;
  }
  .lo-90 {
    width: 90%;
  }
  .lo-95 {
    width: 95%;
  }
  .lo-100 {
    width: 100%;
  }
}

@media screen and (min-width: 40rem) {
  .m-5 {
    width: 5%;
  }
  .m-10 {
    width: 10%;
  }
  .m-15 {
    width: 15%;
  }
  .m-20 {
    width: 20%;
  }
  .m-25 {
    width: 25%;
  }
  .m-30 {
    width: 30%;
  }
  .m-35 {
    width: 35%;
  }
  .m-40 {
    width: 40%;
  }
  .m-45 {
    width: 45%;
  }
  .m-50 {
    width: 50%;
  }
  .m-55 {
    width: 55%;
  }
  .m-60 {
    width: 60%;
  }
  .m-65 {
    width: 65%;
  }
  .m-70 {
    width: 70%;
  }
  .m-75 {
    width: 75%;
  }
  .m-80 {
    width: 80%;
  }
  .m-85 {
    width: 85%;
  }
  .m-90 {
    width: 90%;
  }
  .m-95 {
    width: 95%;
  }
  .m-100 {
    width: 100%;
  }
}

@media screen and (min-width: 64rem) {
  .l-5 {
    width: 5%;
  }
  .l-10 {
    width: 10%;
  }
  .l-15 {
    width: 15%;
  }
  .l-20 {
    width: 20%;
  }
  .l-25 {
    width: 25%;
  }
  .l-30 {
    width: 30%;
  }
  .l-35 {
    width: 35%;
  }
  .l-40 {
    width: 40%;
  }
  .l-45 {
    width: 45%;
  }
  .l-50 {
    width: 50%;
  }
  .l-55 {
    width: 55%;
  }
  .l-60 {
    width: 60%;
  }
  .l-65 {
    width: 65%;
  }
  .l-70 {
    width: 70%;
  }
  .l-75 {
    width: 75%;
  }
  .l-80 {
    width: 80%;
  }
  .l-85 {
    width: 85%;
  }
  .l-90 {
    width: 90%;
  }
  .l-95 {
    width: 95%;
  }
  .l-100 {
    width: 100%;
  }
}

.center-block {
  margin: 0 auto;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: calc(0.75rem + (0.1875) * ((100vw - 20rem) / (44)));
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, .title {
  margin: 0;
  font-family: var(--title-font);
}

button, .button {
  color: white;
  background-color: #2463eb;
  display: inline-block;
  border: none;
  padding: 0.5em 0.75em;
  border-radius: 3px;
  cursor: pointer;
}

.main-chat {
  --details-height: 5rem;
  --form-height: 2rem;
}

@media screen and (min-width: 43.75rem) {
  .main-chat {
    --form-height: 3rem;
    --details-height: 6rem;
  }
}

@media screen and (min-width: 64rem) {
  .main-chat {
    --details-height: 7rem;
  }
}

.chat-details {
  border-bottom: 1px solid #666666;
  padding: 1em 0;
  height: var(--details-height);
}

.chat-details .chat-subtitle {
  color: #666666;
}

@media screen and (min-width: 43.75rem) {
  .chat-details {
    padding: 1em 1em;
    background-color: rgba(206, 206, 206, 0.2);
  }
}

.chat-subtitle p {
  margin-bottom: 0;
  margin-top: .5em;
}

.messages-container {
  padding: 1em 0;
  display: flex;
  flex-direction: column-reverse;
  gap: .75rem;
  height: calc(100% - (var(--details-height) + var(--form-height)));
  min-height: 12.5rem;
  max-height: calc((var(--screen-height) - var(--aside-margin)) - (var(--details-height) + var(--form-height)));
  overflow-y: scroll;
  overflow-wrap: anywhere;
}

@media screen and (min-width: 43.75rem) {
  .messages-container {
    max-height: calc(var(--screen-height) - (var(--details-height) + var(--form-height)));
    padding: 1em 1em;
  }
}

.message {
  --image-width: 3.6em;
  --message-gap: 1rem;
  display: flex;
  align-items: center;
  gap: var(--message-gap);
}

.message img {
  width: var(--image-width);
}

.message p {
  margin: 0;
}

@media screen and (min-width: 22.5rem) {
  .message {
    --image-width: 4em;
  }
}

.message-info {
  align-self: flex-start;
}

.message-info .user-info {
  margin-bottom: .25rem;
  color: #666666;
  display: flex;
  gap: .2rem;
}

.message-info .user-time {
  margin-left: 0.25rem;
}

.main-login {
  --form-gap: .5em;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  min-height: 25rem;
}

@media screen and (min-width: 31.25rem) {
  .main-login {
    align-items: center;
  }
}

@media screen and (max-height: 25rem) {
  .main-login {
    padding-bottom: 1em;
  }
}

.login-container img {
  height: 2.75rem;
  margin-bottom: 2em;
}

@media screen and (min-width: 22.5rem) {
  .login-container img {
    height: 3rem;
  }
}

@media screen and (min-width: 31.25rem) {
  .login-container img {
    height: 4rem;
  }
}

@media screen and (min-width: 31.25rem) {
  .login-container {
    border: 1px solid #666666;
    height: 80%;
    padding: 1em 1em 0;
    border-radius: 10px;
  }
}

@media screen and (max-height: 25.6875rem) {
  .login-container {
    height: 100%;
    margin-bottom: 1rem;
  }
}

.login-container .register-button {
  margin-top: var(--form-gap);
  width: 100%;
  background-color: #0092c7;
}

aside {
  --title-height: 3.5rem;
  background-color: #2d3648;
}

aside .aside-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside .aside-chat .button {
  background-color: #666666;
}

@media screen and (min-width: 43.75rem) {
  aside .aside-chat .button {
    order: 1;
    width: 100%;
  }
}

@media screen and (min-width: 43.75rem) {
  aside .aside-chat {
    flex-direction: column;
    justify-content: flex-start;
    padding: .5em 1em;
  }
}

@media screen and (min-width: 43.75rem) {
  aside {
    --title-height: 4rem;
  }
}

aside img {
  height: 1.6rem;
}

@media screen and (min-width: 22.5rem) {
  aside img {
    height: 2rem;
  }
}

@media screen and (min-width: 43.75rem) {
  aside img {
    height: 3rem;
    margin-bottom: .5rem;
  }
}

@media screen and (min-width: 64rem) {
  aside img {
    margin-bottom: 1rem;
  }
}

aside .main-menu-toggle {
  width: 2.2em;
  height: 1.6em;
  background: linear-gradient(#666666 20%, transparent 20%, transparent 40%, #666666 40%, #666666 60%, transparent 60%, transparent 80%, #666666 80%);
  cursor: pointer;
}

@media screen and (min-width: 43.75rem) {
  aside .main-menu-toggle {
    display: none;
  }
}

aside .users-container {
  background-color: #2d3648;
  position: fixed;
  top: var(--aside-margin);
  right: -80vw;
  height: calc(100vh - var(--aside-margin));
  width: 70vw;
  padding: 0 1em 1em;
  display: flex;
  flex-direction: column;
}

aside .users-container.show {
  transition: right 0.5s;
  right: 0;
}

@media screen and (min-width: 43.75rem) {
  aside .users-container {
    display: block;
    position: static;
    width: auto;
    height: 100%;
    padding: 0 0 .5em;
  }
}

@media screen and (min-width: 64rem) {
  aside .users-container {
    padding: 0 0 1em;
  }
}

.users-container h3 {
  text-transform: uppercase;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  padding: .5em 0;
  color: #666666;
  height: var(--title-height);
}

.users-container .users {
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (min-width: 43.75rem) {
  .users-container .users {
    height: calc(100% - var(--title-height));
    min-height: 12.5rem;
    max-height: calc(100% - var(--title-height));
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.user .user-status {
  font-family: var(--italic-font);
  color: #666666;
}

@media screen and (min-width: 64rem) {
  .user p {
    margin: .75em 0;
  }
}

.form-input {
  padding: .5em .75em;
  border-radius: 3px;
  border: none;
}

.message-form {
  display: flex;
  height: var(--form-height);
}

.message-form .message {
  flex-grow: 1;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

.form-login .button {
  margin-top: var(--form-gap);
}

.form-container {
  height: 80%;
  padding: 1em 1em;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  transform: translateX(-150%);
  box-shadow: 1px 1px 20px black;
  border-radius: 3px;
  color: white;
}

.form-container h2 {
  margin-bottom: 1.5rem;
}

.form-container .register-form {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.form-container .cancel-button {
  width: 100%;
  margin-top: .5em;
  background-color: #e53838;
}

@media screen and (max-height: 25.6875rem) {
  .form-container {
    height: 100%;
  }
}

.form-container.active {
  transform: translateX(0);
  transition: transform 1s;
}

.register-form .form-input {
  background-color: transparent;
  border-bottom: 1px solid #2463eb;
  border-radius: 0;
  padding: .5em 0.75em .5em 0;
  color: white;
}

.footer-login {
  --footer-padding: .5em 0;
  --media-image: 2em;
  background-color: #666666;
  padding: var(--footer-padding);
}

.footer-login .wrapper {
  --fotter-space: space-around;
  display: flex;
  align-items: center;
  justify-content: var(--fotter-space);
  flex-wrap: wrap;
  gap: .5em;
}

@media screen and (min-width: 32.5rem) {
  .footer-login .wrapper {
    --fotter-space: space-between;
  }
}

.footer-login img {
  height: var(--media-image);
}

@media screen and (min-width: 64rem) {
  .footer-login img {
    --media-image: 2.25rem;
  }
}

.footer-login .media-container {
  display: flex;
  gap: .5em;
}

.footer-login .footer-title {
  margin: 0;
}

@media screen and (min-width: 31.25rem) {
  .footer-login {
    --footer-padding: 1em 0;
  }
}

.system-message {
  --background-message: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: var(--background-message);
  padding: .5em .75em;
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  color: white;
}

.system-message.error {
  --background-message: hsl(0, 77%, 56%);
}

.system-message.ok {
  --background-message: hsl(126, 91%, 29%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity .5s;
}

.modal.chat {
  top: var(--aside-margin);
  height: calc(100vh - var(--aside-margin));
}

.modal.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

body.overflow {
  overflow-y: hidden;
}

.body-chat {
  display: grid;
  grid-template-rows: var(--aside-margin) auto;
  --column-height: 35%;
}

@media screen and (min-width: 43.75rem) {
  .body-chat {
    grid-template-rows: auto;
    grid-template-columns: var(--column-height) auto;
  }
}

@media screen and (min-width: 50rem) {
  .body-chat {
    --column-height: 30%;
  }
}

@media screen and (min-width: 56.25rem) {
  .body-chat {
    --column-height: 25%;
  }
}

@media screen and (min-width: 64rem) {
  .body-chat {
    --column-height: 22.5%
    ;
  }
}

.body-login {
  background-color: #2d3648;
}

/*# sourceMappingURL=styles.css.map */