@import "config/variables";
@import "config/functions";
@import "config/mixins";
@import "layout/layout";
@import "base/base";
@import "components/buttons";
@import "components/main";
@import "components/aside";
@import "components/modal";

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.body{
    display: grid;
    grid-template-rows: var(--aside-margin) auto;
    --column-height: 30%;

    @include media-quarie(wrapper){
        grid-template-rows: auto;
        grid-template-columns: var(--column-height) auto;
    }

    @include media-quarie(large){
        --column-height: 22.5%
    }
}