@import "config/variables";
@import "config/functions";
@import "config/mixins";
@import "layout/layout";
@import "base/base";
@import "components/buttons";
@import "components/main";
@import "components/aside";
@import "components/form";
@import "components/footer";
@import "components/messages";
@import "components/modal";

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;

    // ESTILOS DEL CHAT
    &.overflow{
        overflow-y: hidden;
    }
}

// ESTILOS DEL CHAT
.body-chat{
    display: grid;
    grid-template-rows: var(--aside-margin) auto;
    --column-height: 35%;

    @include media-quarie(wrapper){
        grid-template-rows: auto;
        grid-template-columns: var(--column-height) auto;
    }

    @include media-quarie(800px){
        --column-height: 30%;
    }

    @include media-quarie(900px){
        --column-height: 25%;
    }

    @include media-quarie(large){
        --column-height: 22.5%
    }
}

// ESTILOS DEL LOGIN
.body-login{
    background-color: map-get($colors, secondary-color);
}