// CONTENEDOR DEL BODY
.wrapper{
    --margin: 1rem;
    margin: 0 var(--margin);
    width: calc(100% - calc(var(--margin) * 2));
    min-width: px-to-rem($min-wrapper-width);
    max-width: px-to-rem($max-wrapper-width);

    &.aside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    @include media-quarie(large){
        margin: 0 auto;
        width: 100%;
    }
}

// ANCHOS PERSONALIZADOS

// ANCHOS PARA PANTALLAS CHICAS
@include media-quarie(small){
    @for $i from 1 through 20{
        .s-#{$i * 5}{
            width: #{$i * 5%};
        }
    }
}

// ANCHOS PARA PANTALLAS MEDIANAS
@include media-quarie(medium){
    @for $i from 1 through 20{
        .m-#{$i * 5}{
            width: #{$i * 5%};
        }
    }
}

// ANCHOS PARA PANTALLAS GRANDES
@include media-quarie(large){
    @for $i from 1 through 20{
        .l-#{$i * 5}{
            width: #{$i * 5%};
        }
    }
}

// CENTRAR BLOQUE
.center-block{
    margin: 0 auto;
}

// CENTRAR CONTENIDO
.center-content{
    text-align: center;
}