aside{
    --title-height: 5.5rem;
    background-color: map-get($colors, secondary-color);

    .aside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include media-quarie(wrapper){
            flex-direction: column;
            justify-content: flex-start;
            padding: .5em 1em;

            .button{
                order: 1;

                @include media-quarie(wrapper){
                    width: 100%;
                }
            }
        }
    }

    img{
        height: 2rem;

        @include media-quarie(wrapper){
            height: 3rem;
            margin-bottom: .5rem;
        }
    }

    .main-menu-toggle{
        width: 2.2em;
        height: 1.6em;
        background: menu-toggle(primary-color);
        cursor: pointer;
    
        @include media-quarie(wrapper){
            display: none;
        }
    }

    .users-container{
        background-color: map-get($colors, secondary-color);
        position: fixed;
        top: var(--aside-margin);
        right: -80vw;
        height: calc(100vh - var(--aside-margin));
        width: 70vw;
        padding: 0 1em 1em;
        display: flex;
        flex-direction: column;

        &.show{
            transition: right 0.5s;
            right: 0;
        }

        @include media-quarie(wrapper){
            display: block;
            position: static;
            width: auto;
            height: 100%;
            padding: 0 0 1em;
        }

        @include media-quarie(large){
            padding: 0 0 .5em;
        }
    }
}

.users-container{
    h2{
        text-transform: uppercase;
        border-top: 1px solid map-get($colors, primary-color);
        border-bottom: 1px solid map-get($colors, primary-color);
        padding: .5em 0;
        color: map-get($colors, primary-color);
        height: var(--title-height);
    }

    .users{
        flex-grow: 1;
        overflow-y: scroll;

        @include media-quarie(wrapper){
            height: calc(100% - var(--title-height));
            max-height: calc(100% - var(--title-height));
        }
    }
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .user-status{
        font-family: var(--italic-font);
        color: map-get($colors, primary-color);
    }
}
