// ESTILOS DEL CHAT
.main-chat{
    --details-height: 5rem;
    --form-height: 2rem;

    @include media-quarie(wrapper){
        --form-height: 3rem;
        --details-height: 6rem;
    }

    @include media-quarie(large){
        --details-height: 7rem;
    }
}

.chat-details{
    border-bottom: 1px solid map-get($colors, primary-color);
    padding: 1em 0;
    height: var(--details-height);

    .chat-subtitle{
        color: map-get($colors, primary-color);
    }

    @include media-quarie(wrapper){
        padding: 1em 1em;
        background-color: rgba(206, 206, 206, 0.2);
    }
}

.chat-subtitle{
    p{
        margin-bottom: 0;
        margin-top: .5em;
    }
}

.messages-container{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .75rem;
    height: calc(100% - (var(--details-height) + var(--form-height)));
    min-height: px-to-rem(200px);
    max-height: calc((var(--screen-height) - var(--aside-margin)) - (var(--details-height) + var(--form-height)));
    overflow-y: scroll;

    @include media-quarie(wrapper){
        max-height: calc(var(--screen-height) - (var(--details-height) + var(--form-height)));
        padding: 1em 1em;
    }
}

.message{
    --image-width: 3.6em;
    --message-gap: 1rem;
    display: flex;
    align-items: center;
    gap: var(--message-gap);

    img{
        width: var(--image-width);
    }

    p{
        margin: 0;
    }

    @include media-quarie(360px){
        --image-width: 4em;
    }
}

.message-info{
    align-self: flex-start;
    max-width: calc(100% - (var(--image-width) + var(--message-gap)));

    .user-info{
        margin-bottom: .25rem;
        color: map-get($colors, primary-color);
        display: flex;
        gap: .2rem;
    }

    .user-time{
        margin-left: 0.25rem;
    }
}

// ESTILOS DEL LOGIN
.main-login{
    --form-gap: .5em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    min-height: px-to-rem(400px);

    @include media-quarie(login){
        align-items: center;
    }

    @media screen and (max-height: px-to-rem(400px)){
        padding-bottom: 1em;
    }
}

.login-container{
    img{
        height: 2.75rem;
        margin-bottom: 2em;

        @include media-quarie(360px){
            height: 3rem;
        }

        @include media-quarie(login){
            height: 4rem;
        }
    }

    @include media-quarie(login){
        border: 1px solid map-get($colors, primary-color);
        height: 80%;
        padding: 1em 1em 0;
        border-radius: 10px;
    }

    @media screen and (max-height: px-to-rem(400px)){
        height: 100%;
    }

    .register-button{
        margin-top: var(--form-gap);
        width: 100%;
        background-color: hsl(196, 100, 39);
    }
}

