main{
    --details-height: 7rem;
    --form-height: 2rem;
    --screen-height: 0;
}

.chat-details{
    border-bottom: 1px solid map-get($colors, primary-color);
    padding: 1em 0;
    height: var(--details-height);

    .chat-subtitle{
        color: map-get($colors, primary-color);
    }
}

.chat-subtitle{
    p{
        margin-bottom: 0;
    }
}

.messages-container{
    --container-padding: 1em;
    padding: var(--container-padding) 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: calc(100% - (var(--details-height) + var(--form-height)));
    min-height: px-to-rem(200px);
    max-height: calc((var(--screen-height) - var(--aside-margin)) - (var(--details-height) + var(--form-height)));
    overflow-y: scroll;
}

.message{
    --image-width: 4em;
    --message-gap: 1rem;
    display: flex;
    align-items: center;
    gap: var(--message-gap);

    img{
        width: var(--image-width);
    }

    p{
        margin: 0;
    }
}

.message-info{
    align-self: flex-start;
    max-width: calc(100% - (var(--image-width) + var(--message-gap)));

    .user-info{
        margin-bottom: .7rem;
        color: map-get($colors, primary-color);
        display: flex;
        gap: .2rem;
    }

    .user-time{
        margin-left: 0.25rem;
    }
}

.message-form{
    display: flex;
    height: var(--form-height);

    .message{
        flex-grow: 1;
    }
}
